.DoPart{
    background-color: #FAFFFD;
    
}
.DoPart h2{
font-family:'Yeseva One', cursive;
font-size: 38px;
}
.DoPart p{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    }
    .card{
        border: none;
        align-items: center;
        background-color: white;
    }
    .card img{
        padding-top: 20px;
        width: 50%; 
    }
    .card:hover{
        box-shadow:0px 0px 20px 2px #dbf0f8f8;
        border-radius: 60px 0px 50px 0px;
    }